/* Todo: Add google font - Azeret Mono; */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Azeret Mono', monospace;
}

/* ******************************************************************************************************************** */

/* Todo: Add common css for the whole project */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    vertical-align: middle;
    width: 100%;
}

ul,
ol {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.primary-color {
    color: #0d1321;
}
/* Todo: End of common css */

/* ******************************************************************************************************************** */

/* Todo: Start header section css */
.header-container {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h3 {
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}

.header-container a {
    width: 228px;
    height: 58px;
    font-size: 20px;
    font-weight: 600;
    line-height: 58px;
    border: 1px solid #0d1321;
    border-radius: 8px;
    opacity: 0.8;
}
/* Todo: End header section css */

/* ******************************************************************************************************************** */

/* Todo: Start banner section css */
#banner {
    padding: 26px 0 44px;
    background: url(../assets/Hero-bg.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.banner-container img {
    margin-bottom: 32px;
    width: 240px;
    height: 240px;
}

.banner-container h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}

.banner-container h1 > span {
    display: block;
}

.banner-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 145px 32px;
}

.banner-container a {
    background: #0d1321;
    padding: 21px 24px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border-radius: 8px;
}
/* Todo: End banner section css */

/* ******************************************************************************************************************** */

/* Todo: Start why web development section (goals section) */
#development-goal-section {
    margin: 74px 0 88px;
}

.developer-goal-container {
    padding: 80px 97px;
}

.development-goal-heading h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.development-goal-heading p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 50px 48px;
}

.developer-goal-item {
    display: flex;
    padding: 48px;
    justify-content: space-between;
    margin-bottom: 32px;
}

.developer-goal-item:last-child {
    margin-bottom: 0;
}

.developer-goal-item-width {
    width: 50%;
}

.developer-goal-item-second-child-width {
    width: 65%;
    padding-right: 56px;
}

.developer-goal-item-text h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.developer-goal-item-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 16px 0 32px;
}

.developer-goal-item-text a {
    width: 175px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 12px 20px;
    border: 1px solid #0d1321;
    opacity: 0.7;
}
/* Todo: End why web development section (goals section) */

/* ******************************************************************************************************************** */

/* Todo: Start my inspiration section */
.inspiration-heading-text h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.inspiration-heading-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 90px 48px;
}

.inspiration-inner-contents {
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.2);
}

.inspiration-inner-contents > iframe {
    width: 100%;
    height: 550px;
    border-radius: 16px;
}

#inspiration-section {
    margin-bottom: 150px;
}
/* Todo: End my inspiration section */

/* ******************************************************************************************************************** */

/* Todo: Start my current target section */
#current-target-section {
    margin-bottom: 110px;
}

.current-target-heading h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.current-target-heading p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 90px 48px;
}

.current-target-inner-contents {
    display: flex;
    gap: 24px;
}

.current-target-card {
    width: 33.33%;
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.current-target-card > img {
    width: 56px;
    height: 56px;
}

.current-target-card > h4 {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    padding-top: 24px;
}
.current-target-card > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 8px 0 24px;
}
.current-target-card > a {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
}
/* Todo: End my current target section */

/* Todo: Start my next target section */
.next-target-heading h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.next-target-heading p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 25px 48px;
}

.next-target-card {
    display: flex;
    padding: 40px;
    border-radius: 16px;
    background: #ffffff;
    border: 1px solid rgba(13, 19, 33, 0.15);
    margin-bottom: 24px;
    align-items: center;
}

.next-target-card:last-child {
    margin-bottom: 0;
}

.next-target-card-img {
    width: 18%;
}

.next-target-card-img > img {
    width: 95px;
    height: 95px;
}

.next-target-card .card-img-width {
    width: 142px;
    height: 80px;
}

.next-target-card-text {
    width: 82%;
}

.next-target-card-text > h4 {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}

.next-target-card-text > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 8px 0 24px;
}

.next-target-card-text > a {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
}

#next-target-section {
    margin-bottom: 50px;
}
/* Todo: End my next target section */
