/* Todo: Add google font - Azeret Mono; */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Azeret Mono', monospace;
}

/* ******************************************************************************************************************** */

/* Todo: Add common css for the whole project */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    vertical-align: middle;
    width: 100%;
}

ul,
ol {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.primary-color {
    color: #0d1321;
}
/* Todo: End of common css */

/* ******************************************************************************************************************** */

/* Todo: Start header section css */
.header-container {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h3 {
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}

.header-container a {
    width: 228px;
    height: 58px;
    font-size: 20px;
    font-weight: 600;
    line-height: 58px;
    border: 1px solid #0d1321;
    border-radius: 8px;
    opacity: 0.8;
}
/* Todo: End header section css */

/* ******************************************************************************************************************** */
